*
*/**

.*
.*/**

!.editorconfig
!.gitattributes
!.gitignore
!.prettierignore

!LICENSE
!ORIGIN
!README
!VERSION
!CONTRIBUTORS
!CONTRIBUTING
!AUTHOR
!METADATA
!SECURITY
!REFERENCES
!CHANGELOG
!FORMAT
!PRIVACY
!EMAIL
!WEBSITE
!INDEX

!package.json

!*.js
!*.ps1
!*.sh

!.husky/
!.husky/commit-msg
!.husky/pre-commit
!.husky/pre-push

!.vscode/
!.vscode/**/*.json

!scripts/
!scripts/**/*.js

!tests/
!tests/e2e/
!tests/lib/
!tests/reports/
!tests/units/
!tests/logs/
!tests/scripts/
!tests/**/*.js
!tests/**/*.ps1
!tests/**/*.sh
