*
*/**

.*
.*/**

!.editorconfig
!.gitattributes
!.gitignore
!.prettierignore

!AUTHOR
!CHANGELOG
!CONTRIBUTING
!CONTRIBUTORS
!EMAIL
!FORMAT
!INDEX
!LICENSE
!METADATA
!ORIGIN
!PRIVACY
!README
!REFERENCES
!SECURITY
!VERSION
!WEBSITE

!package.json

!*.js
!*.ps1
!*.sh

!.husky/
!.husky/commit-msg
!.husky/pre-commit
!.husky/pre-push

!.vscode/
!.vscode/**/*.json

!scripts/
!scripts/**/*.js

!tests/
!tests/e2e/
!tests/lib/
!tests/logs/
!tests/reports/
!tests/scripts/
!tests/units/
!tests/**/*.js
!tests/**/*.ps1
!tests/**/*.sh
