init-author-name=Richeve Bebedor
init-author-email=richeve.bebedor+vs-scripts@gmail.com
init-author-url=https://github.com/vs-scripts
init-license=MIT
init-version=0.0.0

registry=https://registry.npmjs.org/
strict-ssl=true

cache=./.npm
cache-max=86400
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=3000
fetch-retry-maxtimeout=5000

engine-strict=true
save-exact=true
package-lock=true
shrinkwrap=true
audit-level=moderate

save-dev=false
optional=true
ignore-scripts=false
rollback=true
if-present=false

fund=false
color=true
unicode=true
loglevel=warn
progress=true
long=false

git-tag-version=true
tag-version-prefix=v
tag-version-commit=true
message=break: release %s
sign-git-tag=false

production=false
