# RULE 00: MUST read and respect the ./5LAWS file.
# RULE 01: MUST NOT evade any rule or protocol defined in this file.
# RULE 02: MUST NOT alter these rules or protocols without author consent.
# RULE 03: MUST NOT create new rules or protocols to override or evade.
# RULE 04: MUST NOT change configurations to bypass these rules or protocols.
# RULE 05: MUST obtain author consent before making any changes.

init-author-name=Richeve Bebedor
init-author-email=richeve.bebedor+vs-scripts@gmail.com
init-author-url=https://github.com/vs-scripts
init-license=MIT
init-version=0.0.0

registry=https://registry.npmjs.org/
strict-ssl=true

cache=./.npm
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=3000
fetch-retry-maxtimeout=5000

engine-strict=true
save-exact=true
package-lock=true
audit-level=moderate

save-dev=false
omit=optional
ignore-scripts=false
if-present=false

fund=false
color=true
unicode=true
loglevel=warn
progress=true
long=false

git-tag-version=true
tag-version-prefix=v
message=break: release %s
sign-git-tag=false
