init-author-name=Richeve Bebedor
init-author-email=richeve.bebedor+vs-scripts@gmail.com
init-author-url=https://github.com/vs-scripts
init-license=MIT
init-version=0.0.0

registry=https://registry.npmjs.org/
strict-ssl=true

cache=./.npm
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=3000
fetch-retry-maxtimeout=5000

engine-strict=true
save-exact=true
package-lock=true
audit-level=moderate

save-dev=false
omit=optional
ignore-scripts=false
if-present=false

fund=false
color=true
unicode=true
loglevel=warn
progress=true
long=false

git-tag-version=true
tag-version-prefix=v
message=break: release %s
sign-git-tag=false

omit=dev
